<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <meta name="keywords" content="欧洲钢琴,欧美钢琴,美洲钢琴" />
    <meta name="description" content="雅伦巴斯蒂安是一家知名的欧美钢琴销售商，专业销售：赛乐尔钢琴、柯纳比钢琴、汤普森钢琴、伯恩斯坦钢琴、普拉姆伯格钢琴、科伦金堡钢琴、佩卓夫钢琴、罗瑟钢琴。" />
    <title>
      欧洲钢琴_美洲钢琴_欧美钢琴_欧美钢琴专卖店 - 雅伦巴斯蒂安琴行
    </title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
