body{
    background: radial-gradient(rgb(218, 255, 236),rgb(10, 178, 201));
    background-attachment: fixed;
}
.card{
    width: 1060px;
    padding:1rem;
    margin:10% auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}