@import './normalize.css';

:root{
    --color-text:#666;
    --tint:#ff8198;
    --font-size:14px;
    --line-height:1.5;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #ff5777;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #dee2e6;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --max-width:700px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  /* user-select: none;  禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  /* rem vw/vh */
}

hr{
  border:none;
  border-bottom:#aaa 1px dotted;
  margin:1rem 0;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
li,ul{
  list-style: none;
}
.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

.text-pink{
  color:var(--pink);
}
.text-light{
  color:var(--light);
}
.bg-pink{
  background-color: var(--pink);
}
img{
  max-width: 100%;
  cursor: pointer;
}
.py-50{
  padding-top: 50px;
  padding-bottom: 50px;
}
.px-1{
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-3{
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-4{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-5{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.my-50{
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-1{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my-2{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-3{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-4{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-4{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-5{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.mt-1{
  margin-top: 0.25rem;
}
.mt-2{
  margin-top: 0.5rem;
}
.mt-3{
  margin-top: 1rem;
}
.mt-4{
  margin-top: 1.5rem;
}
.mt-5{
  margin-top: 3rem;
}
.pt-1{
  padding-top:.25rem
}
.pt-2{
  padding-top:.5rem
}
.pt-3{
  padding-top:1rem
}
.pt-4{
  padding-top:1.5rem
}
.pt-5{
  padding-top:3rem
}
.pb-1{
  padding-bottom:.25rem
}
.pb-2{
  padding-bottom:.5rem
}
.pb-3{
  padding-bottom:1rem
}
.pb-4{
  padding-bottom:1.5rem
}
.pb-5{
  padding-bottom:3rem
}

.w-100 {
  width: 100%!important;
}
.w-75 {
  width: 75%!important;
}
.w-50 {
  width: 50%!important;
}
.w-25 {
  width: 25%!important;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-dark {
  color: #fff;
  background-color:var(--dark);
  border-color: var(--dark);
}
.btn-lineout-dark {
  color: #000;
  background-color:var(--white);
  border-color: var(--dark);
}
.btn-lineout-pink {
  color: #000;
  background-color:var(--white);
  border-color: var(--pink);
}